<html>
    
<head>
    <title>商品検索</title>
</head>

<body>
    <h1>商品の検索を行います。</h1>
    <form action="{% url 'ECapp:search_result' %}" method="POST">
    カテゴリ：<select name ="btype">
    <option value = "すべて">すべて</option>
    <option value = "鞄">鞄</option>
    <option value = "帽子">帽子</option>
    </select>
    キーワード：<input type="text" name="keyword" >
        {% csrf_token %}
    <input type="submit" value="検索"><br><br>
    </form>


    <a href ="{% url 'ECapp:cart'%}">ショッピングカートを見る</a><br><br>

    {% if request.session.is_login%}
    ようこそ{{name}}さん<br><br>

    <a href ="{% url 'ECapp:user_info' %}">会員情報の確認</a><br><br>
    <a href ="{% url 'ECapp:update_user' %}">会員情報の変更</a><br><br>
    <a href ="{% url 'ECapp:logout' %}">ログアウト</a>
    

    {% else %}
    <a href ="{% url 'ECapp:login' %}">ログイン</a>
    
    {% endif %}
</body>



</html>