<html>
    
<head>
    <title>会員情報の更新</title>
</head>

<body>
    <h1>以下の会員情報で更新しますか？</h1>
    <div class="form">
			<div class="form">
            <form action= "{% url 'ECapp:update_user_confirm' %} " method='POST'>
                {% csrf_token %}
                
				<table>
                    {{form.as_table}}
                </table>

                <input type="submit" value="変更" />
			</form>
		    </div>
        <br>
        
        <a href ="{% url 'ECapp:main' %}">商品検索</a>へ
</body>



</html>